.footer-container {
  background-image: url('Images/header2.gif');
  background-size: cover; /* Adjust as needed */
  background-position: center center; /* Adjust as needed */
  color: #fff;
  box-shadow: 0 0 3px #3498db;
  height: auto;
  -webkit-clip-path: polygon(0 0, 100% 41%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 41%, 100% 100%, 0% 100%);
  opacity: 0.9;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 0px;
  padding-top: 20px;
  bottom: 0;
  margin: 0;
  border: 1px solid;
  opacity: 1;
}

.quick-menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: -3%; */
  margin-right: 6%;
  
  /* border-top: 1.5px solid;
  border-bottom: 1.5px solid; */
}

.legal {
  margin-bottom: -2vw;
}

.quick-menu-links,
.legal {
  text-align: center;
}

.quick-menu-links p,
.legal p {
  margin: 0;
}

.quick-menu-links li {
  margin-bottom: 15px;
}

.quick-menu-links ul,
.legal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-menu-links a,
.legal a {
  color: #fff;
  text-decoration: none;
}

.quick-menu-links a:hover,
.legal a:hover {
  color: #07f007;
}

.copyright {
  bottom: 0;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  text-align: left;
  padding: 0;
  /* border: 1px solid; */
  margin-bottom: -2vw;
}

.copyright p {
  /* border: 1px solid; */
  margin: 0;
}

.bot-img-1 {
  height: 40px; 
  width: auto;
  margin: 0;
  margin-right: 10px;
  opacity: 1;
  border: 1px solid;
  border-radius: 10px;
}

.heart {
  color: #e74c3c;
  
}

@media (width <= 710px) {
  .copyright p {
    display: none;
  }

  .bot-img-1 {    
    margin-right: 0px;
  }
 
}



