body { 
 
  background-image: url(Images/background3.gif);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed; 
  color: white; 
}

/* Add styles for the overlay container and content */



.top-container {
  display: grid;
  grid-template-columns: auto auto; 
  grid-template-areas: 
    "top-img top-text"      
    "top-img main-get-started-button"; 
  margin-left: 15vw;
  width: 68vw;
  /* margin-right: 15vw; */
  height: 30vw;
  border: 1px solid #00000000;
  border-radius: 5%;
  background-color: #000000a4;
 
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-get-started-button {
  grid-area: main-get-started-button;
  font-size: 1.5vw;
  font-weight: bold;
  width: 20vw;
  margin: 1vw;
  height: 4vw;
  margin-top: 1vw;
  padding: 8px; /* Adjust padding as needed */
  border: 1px inset #bba947;
  background-color: #bba947; /* Button background color */
  color: #000000; /* Button text color */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Inset shadow for border effect */
  transition: box-shadow 0.3s ease; /* Transition for smoother hover effect */
}

.main-get-started-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Outset shadow on hover */
}

.top-text {
  grid-area: top-text;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start;
  /* border: 1px solid #000; */
  margin: 1vw;
  margin-left: 2vw;
}

.top-title {
  font-weight: bold;
  font-size: 3.3vw;
  text-align: center;
  /* border: 1px solid #000; */
}

.top-title-2 {
  font-size: 1.5vw;
  
}

.top-paragraph {
  font-size: 1.9vw;
  margin-top: 2vw;
}


.top-img{
  grid-area: top-img; 
  height: 30vw;  
  /* border: 1px solid #000; */
}

.bot-container {
  display: inline-flex; 
  gap: 10px; 
  /* border: 1px solid #000;  */
  /* margin-right: 21.5vw; */
  margin-left: 21.5vw; 
  margin-top: 7vw;
  margin-bottom: 5vw;
 text-align: center;
 
 font-size: 1.5vw;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #ffffffc7;
  /* border: 1px solid #000; */
  color: #000000;
  border-radius: 5%; 
  width: 20vw;
  padding: 1vw;
  margin-right: 10vw;
}

.resource-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #ffffffc7;
  color: #000000;
  border-radius: 5%; 
  width: 20vw;
  padding: 1vw; 
}

.bot-img-1,
.bot-img-2 {
  overflow: hidden;
  border-radius: 15%;
  width: 8vw;
}

.bot-img-2 {
  width: 7vw; 
  margin:2vw;
}

.bot-img-1 {
  margin: 1vw;
}




@media only screen and (max-width: 767px) 
{
/* 
  body {
    padding-top: 35vw;
  }   */
  
  .top-container {    
    margin: 0;
    margin-top: 10vw;
    margin-bottom: 10vw;
    height: 55vw;
    width: 100%;
  } 

  .top-text {
    margin-left: 1vw;
    margin-top: 1vw;
   height: 45vw;
   
    padding: 0;
  }

  .top-title {
    font-size: 5vw;
  }

  .top-title-2 {
    font-size: 2.8vw;
    margin-bottom: 1vw;
  }

  .top-img {
    height: 35vw;
    margin-right: -6vw;
    margin-top: 6vw;
  
  }
  
  .top-paragraph {
    font-size: 3.5vw;
    width: 60vw;
    height: 28vw;
    margin-left: 8vw;
  
  }

  .main-get-started-button {
    font-size: 2.5vw;
    margin-top:7vw;
    width: 30vw;
    height: 5.5vw;
    
  }



  .bot-img-1 {
    width: 15vw;
  }

  .chat-container {
    width: 40vw;
    margin-bottom: 8vw;
  }

  .chat-container span:first-child {
    
   margin-bottom: 2vw;
   margin-top: 1vw;
  font-weight: bold;
  font-size: 4vw;
  
  }

  .chat-container span:last-child {
    margin-top: 2vw;
    font-size: 3.5vw;
  }

  .bot-container {   
    margin-left: 30vw;
    display: flex;
    flex-direction: column;
  }

  .bot-img-2 {
    width: 11vw;    
  }

  .resource-container {
    width: 40vw;    
  }

  .resource-container span:first-child {
    
   margin-bottom: 2vw;
   margin-top: 1vw;
  font-weight: bold;
  font-size: 4vw;
  
  }

  .resource-container span:last-child {
    margin-top: 2vw;
    font-size: 3.5vw;
  }

  @media only screen and (max-width: 479px) {    
   
    .chat-container {      
      margin-bottom: 8.4vw;
    }

    .top-container {    
      margin: 0;
      margin-top: 10vw;
      margin-bottom: 10vw;
      height: 60vw;
      width: 100%;
    } 

    .top-paragraph {
      margin-bottom: 5vw;
      margin-top: 3vw;
    margin-left: 10vw;
    }

    .top-img {
      height: 35vw;
      margin-right: -8vw;
      margin-top: 12.5vw;
      margin-left: 2vw;
    
    }

    .top-title {
      margin-top: 2vw;
      font-size: 5vw;
      margin-left: 5vw;
    }

    .main-get-started-button {
      padding:1vw;
      margin-left: 10vw;
    }
  
  
   
  }
  


  

  
}





/* 768px to 1023px */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  
  
  .top-container {
    margin-left: 9vw;
    margin-bottom: 5vw;
    height: 40vw;
    width: 80vw;
  }

  .bot-container {
    margin-bottom: 13vw;
  }

  .top-img {
    height: 40vw;
  }
  
  .top-paragraph {
    font-size: 2.4vw;
    width: 40vw;
  }



  .bot-img-1 {
    width: 12vw;
  }

  .chat-container {
    width: 25vw;
    margin-left: -4vw;
  }

  .chat-container span:first-child {
    
   margin-bottom: 2vw;
   margin-top: 1vw;
  font-weight: bold;
  font-size: 3vw;
  
  }

  .chat-container span:last-child {
    margin-top: 2vw;
    font-size: 2.5vw;
  }

  .bot-img-2 {
    width: 8vw;    
  }

  .resource-container {
    width: 25vw;
  }

  .resource-container span:first-child {
    
   margin-bottom: 2vw;
   margin-top: 1vw;
  font-weight: bold;
  font-size: 3vw;
  
  }

  .resource-container span:last-child {
    margin-top: 2vw;
    font-size: 2.5vw;
  }

  .main-get-started-button {
    font-size: 2vw;
    margin-top:3vw;
    width: 25vw;
   
    
  }


}



/* 1981px and above */
@media only screen and (min-width: 1981px) {
  /* Add styles specific to this resolution */
}

